<!--section start-->
<section class=" contact-page section-b-space">
    <div class="container">
        <div class="row">
            <h3> <b>TERMS AND CONDITIONS</b></h3>
            <div class="col-sm-12">
                <p>Welcome to the vikramcreations.com website terms and conditions. Please read through these carefully
                    before registering your trade account and placing an order. By using this website and/or placing an
                    order you agree to be bound by the terms and conditions set out below. Before filling in the
                    registration form or placing an order, if you have any queries relating to these terms and
                    conditions, please email us at sales@vikramcreations.com </p>
                <p>We may change these terms from time to time without notice to you. Changes will apply to any
                    subsequent orders received. </p>
                <p>
                    <b> 1. Access</b>
                </p>
                <p>
                    You are provided with access to this Website in accordance with these Conditions and any orders
                    placed by you must be placed strictly in accordance with these Conditions. Different Terms and
                    Conditions of the customer shall not apply unless their validity is agreed in written form between
                    both parties.
                </p>
                <p>
                    <b> 2. Use of this site</b>
                </p>
                <p>
                    The content of this site is owned by or licensed to Vikram Creations Private Limited. You may not
                    copy, reproduce, share, modify, sell, display, post or transmit any part of this site without
                    written permission of Vikram Creations Private Limited. You may view pages only for your own
                    personal use. Vikram Creations Private Limited may suspend, alter, restrict or terminate access to
                    or use of this site at any time.

                </p>
                <p> <b>3. Eligibility</b> </p>
                <p>Use of vikramcreations.com is purely for trade customers (business to business). Following (but not
                    limited to) conditions apply for eligibility to register a trade account on vikramcreations.com </p>
                <p>- You must be a clothing retailer, the owner or a representative of clothing retail related business
                    registered as a company or individual trader </p>
                <p>- You must be able to provide satisfactory proof if required about your business, company
                    registration number, proof of address or contact details or that you plan to start a new business in
                    clothing related sector. </p>
                <p>- We reserve the right to accept or refuse your trade application to access vikramcreations.com or
                    terminate your account if it remained inactive for 6 months. </p>
                <p> <b> 4. Registration</b> </p>
                <p>You warrant that: </p>
                <p>The Personal Information which you are required to provide when you register as a customer is true,
                    accurate, current and complete in all respects; and you will notify us immediately of any changes to
                    the Personal Information by contacting us by e-mail or by changing in your ‘My Account’ area of the
                    website. You agree not to impersonate any other person or entity or to use a false name or a name
                    that you are not authorized to use. Please note that a member of staff will contact you to
                    authenticate your account. </p>
                <p> <b>5. Indemnity</b> </p>
                <p>You agree fully to indemnify, defend and hold us, and our officers, directors, employees, agents and
                    suppliers, harmless immediately on demand, from and against all claims, liability, damages, losses,
                    costs and expenses, including reasonable legal fees, arising out of any breach of the Conditions by
                    you or any other liabilities arising out of your use of this Website, or the use by any other person
                    accessing the Website using your shopping account and/or your Personal Information. </p>
                <p> <b>6. Description of products</b> </p>
                <p>Each Product purchased is sold subject to its Product Description. We will take all reasonable care
                    to ensure that all details, colours, descriptions and prices of Products appearing on the Website
                    are correct at the time when the relevant information was entered onto the system. Although we aim
                    to keep the Website as up to date as possible, the information including Product Descriptions
                    appearing on this Website at a particular time may not always reflect the position exactly at the
                    moment you place an order. We cannot confirm the price of a Product until your order is accepted in
                    accordance with our Order acceptance policy and only be obliged to package and ship the goods upon
                    receipt of the full purchase price and the shipping and packaging expenses. </p>
                <p>
                    <b> 7. Ordering Information</b> </p>
                <p>First time customers must register before being able to order from us online. Once your account has
                    been activated (please note this can take up to 3 days, though is usually no more than one) you will
                    be able to view full product information and place an order. </p>
                <p>Registered users can log in using their email address & password</p>
                <p>Once logged in simply add your selected items into the shopping cart, once you have reviewed your
                    items and you are happy, proceed to checkout using our secure server. </p>
                <p>Delivery charges will be automatically calculated using our integrated UPS shipping system.</p>
                <p>Indian customers have a standard shipping cost, for other export customers shipping cost will vary
                    depending on the shipping location and the total weight of the order. </p>
                <p>If you have a promotional code you can enter this into the box provided when on shopping cart page.
                    The total amount will then be deducted from your order total at checkout. Please note that discounts
                    only apply to full price items. There is no minimum order value though all items are sold in packs
                    of usually 3,4 or 6 pieces (each pack contains a full size ratio). Goods ordered for collection at
                    our showroom and bank transfer payments will be put back into stock if payment has not been advised
                    or made within 24 hours of time of order. You can contact our customer service team if you require
                    any help or assistance. Email esales@vikramcreations.com or call 9811144961 (Mon-Fri 9:30am-6pm &
                    Sun 9am-3pm GMT) </p>
                <p>As your product is shipped from our warehouse we will send you a dispatch confirmation email. Order
                    acceptance and the completion of the contract between you and us will take place on the dispatch to
                    you of the Products ordered unless we have notified you that we do not accept your order or you have
                    cancelled it in accordance with our conditions set out below. Non acceptance of an order may take
                    place in the following circumstances [but not limited to]: </p>
                <p>- The product you ordered being unavailable from stock. </p>
                <p>- Our inability to obtain authorization for your payment.</p>
                <p>- The identification of a pricing or product description error. </p>
                <p>- You not meeting the eligibility to order criteria set out in the main Conditions of Use.</p>
                <p>- The contract will be concluded in English.</p>
                <p> <b> 8. Refusal of transaction</b></p>
                <p>We reserve the right to withdraw any Products from this Website at any time and/or remove or edit any
                    materials or content on this Website. We may refuse to process a transaction for any reason or
                    refuse service to anyone at any time at our sole discretion. We will not be liable to you or any
                    third party by reason of our withdrawing any Product from this Website whether or not that Product
                    has been sold; removing or editing any materials or content on the Website; refusing to process a
                    transaction or unwinding or suspending any transaction after processing has begun. To be eligible to
                    purchase Products on this Website and lawfully enter into and form contracts on this Website under
                    Indian law you must: </p>
                <p>Register by providing your real name, Business name, phone number, postal/delivery address, e-mail
                    address, payment details and other requested information. </p>
                <p>Possess a valid credit or debit card issued by a bank acceptable to us </p>
                <p>By making an offer to buy a Product, you specifically authorize us to transmit information (including
                    any updated information) or to obtain information about you from third parties from time to time,
                    including but not limited to your debit or credit card number or credit reports, to authenticate
                    your identity, to validate your credit card, to obtain an initial credit card authorization and to
                    authorize individual purchase transactions. </p>
                <p> <b> 9. Payment</b> </p>
                <p>All prices are stated in Pounds Sterling and exclude VAT and delivery at the current rates and are
                    correct at the time of entering the information onto the system. The total cost of your order is the
                    price of the Products ordered plus delivery charges as set out below. Payment can be made by any of
                    the methods specified in the payment section of this Website and payment will be debited and cleared
                    from your account prior to dispatch of orders. You confirm that the credit or debit card that is
                    being used is yours. All credit/debit cardholders are subject to validation checks and authorization
                    by the card issuer. If the issuer of your payment card refuses to or does not, for any reason,
                    authorise payment to us, we will not be liable for any delay or non-delivery. </p>
                <p> <b> PAYMENT INFORMATION </b></p>
                <p>Credit/Debit Card payment online is the quickest and easiest payment method. We accept VISA,
                    MasterCard, Maestro& American Express though our secure 3D payment facility on our website. If you
                    have not used this service before, you will need to register your details and create a password for
                    your debit or credit card (this can be done when you checkout). Once registered, you must use the
                    same password for all online transactions made with that card. Your card will be charged once your
                    order has been processed. </p>
                <p>PayPal is the next preferred method of payment. Please note E-Cheques can take up to 10 days to
                    clear. Goods will be shipped only once the E-Cheque is cleared</p>
                <p>Bank Transfer can be made to the account shown at checkout (also confirmed in order confirmation
                    email) </p>
                <p>Please be aware that bank transfers can take a few days to clear for customers outside of the UK and
                    the order will only be dispatched once payment has been received. </p>
                <p>Please email a copy of the receipt of payment to esales@vikramcreations.com once the transfer has
                    been made.</p>
                <p>Cash payment can be made by those collecting goods from our Delhi,Karol Bagh showroom only. </p>
                <p>Cheques are not preferred.</p>
                <p>International Transfers:</p>
                <p>We accept Bank Transfers from overseas. All payments must be in Sterling to the above bank account
                    mentioned in the order email as well displayed at checkout screen. When transferring monies, please
                    ensure that we receive the FULL amount requested in settlement of your order confirmation / invoice.
                    Your order will not be shipped until the full amount is paid. You are responsible for additional
                    bank charges applied by your bank. You should make this clear to your bank during the transfer. </p>
                <p>All goods remain the property of Vikram Creations Private Limited until paid for in full. We do not
                    offer credit accounts. </p>
                <p><b> 10. Shipping & Returns</b> </p>
                <p> <b> Shipping Information</b></p>
                <p>Once payment has been received goods are then dispatched.</p>
                <p>Vikram Creations Private Limited may choose to use Fedex, UPS, DPD or Parcel Force as our designated
                    shippers for most deliveries Worldwide. </p>
                <p>Our integrated system automatically works out your shipping cost & delivery date when ordering
                    online. The advertised shipping cost may vary due to the weight of the order or the shipping
                    address, these changes will be made on the check out page. </p>
                <p>SAME DAY DISPATCH on orders paid by 3:30pm,tuesday-saturday. Orders paid on sunday (before 3:30pm)
                    will be delivered on tuesday.</p>
                <p> <b> Damages</b></p>
                <p>All deliveries must be signed for and any damages notified to us within two days of receipt of
                    delivery. Someone must be available to sign for the goods during normal working hours and this
                    person should be known to you. We will not be responsible where the person signing for the goods is
                    not the person who has placed the order/paid for the goods. </p>
                <p>In the case of a delay caused by FedEx or any third party courier, we will not be held responsible
                    and the shipping fee will be non refundable. </p>
                <p>You may also provide your own shipper. Please note that we require a shipping certificate for export
                    customers (a refundable VAT deposit may be taken). Please email sales@vikramcreations.com for more
                    information. </p>
                <p><b>  Returns Information</b> </p>
                <p>Any styles you would like to return must be notified to us within 2 days of receiving goods by e-mail
                    to esales@vikramcreations.com , quoting your order number, name, address, description of the product
                    and reason for sending back. In the case of damages or manufacturing faults, a photo of the fault
                    should also be provided. Once the return has been approved please return the items within 1 week.
                </p>
                <p>Once we have received your returned item/s, it will be refunded by the same method used to pay for
                    the order. We will not be able to accept any items which might have been damaged by mishandling,
                    during customization or alteration </p>
                <p>The item/s must be returned with a debit note enclosed.</p>
                <p>Returns should be made in the original, undamaged packaging.</p>
                <p>We recommend returning the goods by registered/insured post.</p>
                <p>We are not liable for the postage fee for the return of goods.</p>
                <p>We will not be liable for any loss or damage incurred whilst returns are held by third parties.</p>
                <p>We reserve the right to deduct a 20% restocking fee on returns that do not have a genuine
                    manufacturing fault.</p>
                <p>Refunds will be made once the items are received by us. </p>
                <p>Your refund will be credited by the same method of payment and/or to the same card with which you
                    made your original payment.</p>
                <p>Refunds can take 7 working days to reflect in your account. </p>
                <p> <b> 11. Taxes and Import Duties</b> </p>
                <p> <b> 12. Privacy Policy </b></p>
                <p>Vikram Creations Private Limited keep all personal information completely confidential (although we
                    reserve the right to disclose this information in the circumstances set out below). We will keep it
                    on a secure server and we will fully comply with all applicable Indian Data Protection and consumer
                    legislation from time to time in place. When you shop on this Website, we will ask you to input and
                    will collect Personal Information from you such as your name, e-mail address, billing address,
                    delivery address, telephone number, product selections, credit card or other payment information and
                    a password. We may also collect, and our third party providers of advertisements and content may
                    collect, information about where you are on the internet (eg the URL you came from, IP address,
                    domain types like .co.uk and .com), your browser type, the country and telephone area code where
                    your computer is located, the pages of our website that were viewed during your visit, the
                    advertisements you clicked on, and any search terms that you entered on our website ("User
                    Information"). We may collect this information even if you do not register with us. You should be
                    aware that this site is being monitored and may capture information about your visit that will help
                    us improve the quality of our service. We confirm that any Personal Information which you provide to
                    us (or which is available on public registers) and any User Information from which we can identify
                    you, is held in accordance with the registration we have with the Data Commissioner's Office. We use
                    your information only for the following purposes: </p>
                <p>Processing your order</p>
                <p>For statistical purposes to improve this Website and its services to you</p>
                <p>To serve website content and advertisements to you </p>
                <p>To administer this website </p>
                <p>If you consent, to notify you of products or special offers that may be of interest to you </p>
                <p>
                    You agree that you do not object to us contacting you for any of the above purposes whether by
                    telephone, e-mail, Sales Representative’s visit to your business address or in writing and you
                    confirm that you do not and will not consider any of the above as being a breach of any of your
                    rights under the Privacy and Electronic Communications (EC Directive) Regulations 2003. When you
                    create a shopping account while ordering online you will be given the option to receive information
                    from vikramcreations.com by e-mail, about products, promotions or special offers which we feel may
                    be of interest to you. In the event that you do not wish to be contacted for such purposes please
                    e-mail us.
                </p>
                <p>Your Personal Information may be disclosed to other reputable third parties who will help process
                    your order. Vikram Creations Private Limited requires all such third parties to treat your personal
                    information as fully confidential and to fully comply with all applicable Indian Data Protection and
                    consumer legislation from time to time in place. You should be aware that if we are requested by the
                    police or any other regulatory or government authority investigating suspected illegal activities to
                    provide your Personal Information and /or User Information we are entitled to do so. </p>
                <p>
                    <b> 13. Right to Use Copyrighted Images</b>
                </p>
                <p>
                    Our high quality images are intended to enhance your business and increase sales. Customers are
                    permitted to use product images for items that have been purchased from us and must be able to
                    provide a valid invoice upon request. Pictures can only be used for the resale of products in your
                    B2C environment (Business to consumer). This includes marketing / advertising and promotional
                    activities within your own retail store or website.
                </p>
                <p>The "right to use" images expires once purchased quantity is sold out unless permission is granted in
                    writing. The content of this site is owned by or licensed to Vikram Creations Private Limited, and
                    we may suspend, alter, restrict or terminate access to product images at any time. The "right to
                    use" images only applies to Missi product images and does not include any celebrity or blogger
                    images. </p>
                <p> B2B customers are not permitted to use or distribute our images without written permission. </p>

            </div>
        </div>
    </div>
</section>
<!--Section ends-->