<!-- <app-breadcrumb [title]="'Forgot Password'" [breadcrumb]="'Forgot Password'"></app-breadcrumb> -->
<!-- section start -->
<section class="pwd-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <h4>Forgot Your Password</h4>
                <form class="theme-form" [formGroup]="ResetPasswordForm">
                    <div class="form-row">
                        <div class="col-md-12">
                            <input type="text" class="form-control" id="email" formControlName="email" placeholder="Enter Your Email" required>
                        </div>
                        <button class="btn btn-solid" (click)="ResetPassword()">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->