<?xml version="1.0"?>
<configuration>

  <connectionStrings>
    <add name="sqlCon" connectionString="Data Source=INSTANCE-1\\MSSQLSERVER2017;Initial Catalog=Ecomm;User ID=sa;Password=password_1234;Max Pool Size=60" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5">
      <assemblies>
        
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </assemblies>

    </compilation>
    <httpRuntime targetFramework="4.5" />
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <customHeaders>
          <add name="Access-Control-Allow-Origin" value="*" />
          <add name="Access-Control-Allow-Headers" value="X-Requested-With,Content-Type, Accept" />
          <add name="Access-Control-Allow-Methods" value="GET,POST,OPTIONS" />

        </customHeaders>
      </protocols>
    </webServices>
    <customErrors mode="Off" />
  </system.web>
  
  <system.webServer>
	
		<rewrite>
			<rules>
				<rule name="Angular Routes" stopProcessing="true">
					<match url=".*" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
						<add input="{REQUEST_URI}" pattern="^(api)" negate="true" />
					</conditions>
					<action type="Rewrite" url="/Ecom/" />
				</rule>
			</rules>
		</rewrite>
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="true">

    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="GET,POST" />
      </customHeaders>
    </httpProtocol>
	</system.webServer>
			
</configuration>