<!-- <app-breadcrumb [title]="'Checkout'" [breadcrumb]="'Checkout'"></app-breadcrumb> -->
<section class="section-b-space" style="padding-top: 20px !important;">
    <div class="container">
        <div class="col-sm-12 empty-cart-cls text-center" *ngIf="IsEmptyCart==true">
            <img src="assets/images/icon-empty-cart.png" class="img-fluid mb-4">
            <h3><strong>Your Cart is Empty</strong></h3>
            <h4>Add something to make me happy :)</h4>
            <div class="text-center">
                <a [routerLink]="['/shop/collection/left/sidebar']" class="btn btn-solid">continue shopping</a>
            </div>
        </div>
        <!--*********************Delivery Address****************-->
        <div class="checkout-page" *ngIf="productSizeColor.length">
            <div class="row">
                <div class="col-lg-8">
                    <div class="checkout-form">
                        <!-- {{lstBillingAddress|json}} -->
                        <form>
                            <div class="checkout-steps" *ngIf="Address1">
                                <h5 *ngIf="lstBillingAddress?.length>0" class="step-heading active"><span class="Sequence">1</span>Delivery Address</h5>
                                <div *ngFor="let lstBilling of lstBillingAddress;let idx = index" class="delivery-address">
                                    <div class="d-flex justify-content-start">
                                        <div class="pr-4">
                                            <input type="radio" [checked]="lstBilling.billingAddressId==AddressId" name="selectAddress" (change)="onItemChange(lstBilling)" value="{{lstBilling.billingAddressId}}">
                                        </div>
                                        <address>
                                            <div class="d-flex justify-content-between row-column">
                                                <div>
                                                    <div>
                                                        <p>{{lstBilling.fName}} {{lstBilling.lName}}</p>

                                                        <b>Mobile : </b>
                                                        <p>{{lstBilling.phone}}</p>
                                                    </div>
                                                    <div>
                                                        <b>Address : </b> {{lstBilling.address}}, {{lstBilling.city}}
                                                        {{lstBilling.state}}, {{lstBilling.zipCode}},
                                                        {{lstBilling.country}}
                                                    </div>
                                                    <div>
                                                        <!-- <a href="javascript:void(0)" (click)="SelectBillingAddress(lstBilling)">Select
                                                                Address</a> -->
                                                        <button type="submit" class="btn-solid btn mt-3" [id]="idx"
                                                            *ngIf="lstBilling.billingAddressId==AddressId"
                                                            (click)="SelectdeliverAddress(lstBilling)">
                                                            Deliver to this address
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="text-right">
                                                    <button class="btn btn-link"> Edit</button>
                                                </div>
                                            </div>

                                            <!-- <p>
                                                <b>Company Name: </b>
                                                {{lstBilling.companyName}}
        
                                            </p> -->
                                            <!-- <p>
        
                                                <b>Email : </b>
                                                {{lstBilling.emailId}}
                                            </p> -->


                                        </address>
                                    </div>
                                </div>

                            </div>

                            <div class="checkout-steps" *ngIf="Address2">
                                <h5 class="step-heading"><span class="Sequence">1</span>Delivery Address
                                    <i class="fa fa-check"></i>
                                </h5>
                                <div class="d-flex justify-content-between align-items-center align">
                                    <div class="left-margin">{{SelectedAddress}}</div>
                                    <button type="submit" (click)="ChangeAddress()" class="btn-solid btn">Change</button>
                                </div>
                            </div>

                            <!--*********************Add new address****************-->
                            <div class="checkout-steps" *ngIf="addnewaddress">
                                <div class="step-heading">
                                    <button class="btn btn-link" (click)="AddNewAddress()"><i class="fa fa-plus"></i>
                                        Add New
                                        delivery
                                        Address</button>
                                </div>

                            </div>
                            <div class="checkout-steps" *ngIf="addaddress">
                                <div class="step-heading">
                                    <span>Add New delivery Address</span>
                                </div>
                                <div class="row check-out">
                                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                        <div class="field-label">Full Name<span style="color: red;">*</span> </div>
                                        <input autofocus type="text" name="fName" maxlength="50" [formControl]="checkoutForm.controls['fName']" value="" placeholder="" autocomplete="off">
                                        <div *ngIf="(checkoutForm.controls.fName.touched || Submitted) && checkoutForm.controls.fName.errors?.required" class="text text-danger">
                                            Full Name is required.
                                        </div>
                                        <div *ngIf="(checkoutForm.controls.fName.touched || Submitted) && checkoutForm.controls.fName.errors?.pattern" class="text text-danger">
                                            Full Name must be an alphabates.
                                        </div>
                                    </div>


                                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                        <div class="field-label">Company Name </div>
                                        <input type="text" name="companyName" maxlength="150" [formControl]="checkoutForm.controls['companyName']" value="" placeholder="" autocomplete="off">
                                        <div *ngIf="(checkoutForm.controls.companyName.touched || Submitted) && checkoutForm.controls.companyName.errors?.required" class="text text-danger">
                                            Company Name is required.
                                        </div>
                                        <div *ngIf="(checkoutForm.controls.companyName.touched || Submitted) && checkoutForm.controls.companyName.errors?.pattern" class="text text-danger">
                                            Company Name must be an alphabates
                                        </div>
                                    </div>

                                    <!-- <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                        <div class="field-label">Phone <span style="color: red;">*</span></div>
                                        <input type="text" name="phone" maxlength="10" [formControl]="checkoutForm.controls['phone']" value="" placeholder="" autocomplete="off">
                                        <div *ngIf="(checkoutForm.controls.phone.touched || Submitted) && checkoutForm.controls.phone.errors?.required" class="text text-danger">
                                            Phone No is required.
                                        </div>
                                        <div *ngIf="(checkoutForm.controls.phone.touched || Submitted) && checkoutForm.controls.phone.errors?.pattern" class="text text-danger">
                                            Phone No must be number
                                        </div>
                                    </div> -->
                                    <!-- <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                            <div class="field-label">Email Address <span style="color: red;">*</span></div>
                                            <input type="text" name="emailId" [formControl]="checkoutForm.controls['emailId']"
                                                value="" placeholder="" autocomplete="off">
                                            <div *ngIf="(checkoutForm.controls.emailId.touched || Submitted) && checkoutForm.controls.emailId.errors?.required"
                                                class="text text-danger">
                                                Email address is required
                                            </div>
                                            <div *ngIf="(checkoutForm.controls.emailId.touched || Submitted) && checkoutForm.controls.emailId.errors?.emailId"
                                                class="text text-danger">
                                                Invalid email address
                                            </div>
                                        </div> -->
                                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                        <div class="field-label">Address <span style="color: red;">*</span></div>
                                        <textarea maxlength="200" name="address" [formControl]="checkoutForm.controls['address']" style="height: 65px;" value="" placeholder="" autocomplete="off"></textarea>
                                        <div *ngIf="(checkoutForm.controls.address.touched || Submitted) && checkoutForm.controls.address.errors?.required" class="text text-danger">
                                            Address is required
                                        </div>
                                        <div *ngIf="(checkoutForm.controls.address.touched || Submitted) && checkoutForm.controls.address.errors?.maxlength" class="text text-danger">
                                            Maximum 50 character
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6 col-sm-6 col-xs-6">
                                        <div class="field-label">Country <span style="color: red;">*</span></div>
                                        <select name="country" [formControl]="checkoutForm.controls['country']">
                                            <!-- <option value="" selected>Select Country</option> -->
                                            <option value="India">India</option>
                                            <!-- <option value="USA">USA</option>
                                                <option value="Australia">Australia</option> -->
                                        </select>
                                        <div *ngIf="(checkoutForm.controls.country.touched || Submitted) && checkoutForm.controls.country.errors?.required" class="text text-danger">
                                            Country is required
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6 col-sm-6 col-xs-6">
                                        <div class="field-label">State <span style="color: red;">*</span></div>
                                        <!-- <input type="text" name="state" [formControl]="checkoutForm.controls['state']" value="" placeholder="" autocomplete="off"> -->
                                        <select name="country" [formControl]="checkoutForm.controls['state']">
                                            <option value="">Select State</option>
                                            <option value="Andhra Pradesh">Andhra Pradesh</option>
                                            <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands
                                            </option>
                                            <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                            <option value="Assam">Assam</option>
                                            <option value="Bihar">Bihar</option>
                                            <option value="Chandigarh">Chandigarh</option>
                                            <option value="Chhattisgarh">Chhattisgarh</option>
                                            <option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
                                            <option value="Daman and Diu">Daman and Diu</option>
                                            <option value="Delhi">Delhi</option>
                                            <option value="Lakshadweep">Lakshadweep</option>
                                            <option value="Puducherry">Puducherry</option>
                                            <option value="Goa">Goa</option>
                                            <option value="Gujarat">Gujarat</option>
                                            <option value="Haryana">Haryana</option>
                                            <option value="Himachal Pradesh">Himachal Pradesh</option>
                                            <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                                            <option value="Jharkhand">Jharkhand</option>
                                            <option value="Karnataka">Karnataka</option>
                                            <option value="Kerala">Kerala</option>
                                            <option value="Madhya Pradesh">Madhya Pradesh</option>
                                            <option value="Maharashtra">Maharashtra</option>
                                            <option value="Manipur">Manipur</option>
                                            <option value="Meghalaya">Meghalaya</option>
                                            <option value="Mizoram">Mizoram</option>
                                            <option value="Nagaland">Nagaland</option>
                                            <option value="Odisha">Odisha</option>
                                            <option value="Punjab">Punjab</option>
                                            <option value="Rajasthan">Rajasthan</option>
                                            <option value="Sikkim">Sikkim</option>
                                            <option value="Tamil Nadu">Tamil Nadu</option>
                                            <option value="Telangana">Telangana</option>
                                            <option value="Tripura">Tripura</option>
                                            <option value="Uttar Pradesh">Uttar Pradesh</option>
                                            <option value="Uttarakhand">Uttarakhand</option>
                                            <option value="West Bengal">West Bengal</option>

                                        </select>
                                        <div *ngIf="(checkoutForm.controls.state.touched || Submitted) && checkoutForm.controls.state.errors?.required" class="text text-danger">
                                            State is required
                                        </div>
                                    </div>


                                    <div class="form-group col-md-6 col-sm-6 col-xs-6">
                                        <div class="field-label">City <span style="color: red;">*</span></div>
                                        <input maxlength="100" type="text" name="city" [formControl]="checkoutForm.controls['city']" value="" placeholder="" autocomplete="off">
                                        <div *ngIf="(checkoutForm.controls.city.touched || Submitted) && checkoutForm.controls.city.errors?.required" class="text text-danger">
                                            City is required
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6 col-sm-6 col-xs-6">
                                        <div class="field-label">Pin Code <span style="color: red;">*</span></div>
                                        <input type="text" name="zipCode" [formControl]="checkoutForm.controls['zipCode']" value="" placeholder="" autocomplete="off" maxlength="6" [mask]="PinCodeMask" [dropSpecialCharacters]="false" (focus)="addPinCodeMask($event);">
                                        <div *ngIf="(checkoutForm.controls.zipCode.touched || Submitted) && checkoutForm.controls.zipCode.errors?.required" class="text text-danger">
                                            Pin Code is required
                                        </div>

                                        <div *ngIf="(checkoutForm.controls.zipCode.touched || Submitted) && checkoutForm.controls.zipCode.errors?.pattern" class="text text-danger">
                                            Pin Code must be number
                                        </div>
                                    </div>
                                    <br>
                                    <div class="p-3">
                                        <button class="btn btn-solid" (click)=SaveAddress()>Save and Deliver
                                            Here</button> &nbsp; &nbsp;
                                        <button class="btn btn-solid" (click)=cancel()>Cancel</button>
                                    </div>
                                </div>
                            </div>
                            <!--*********************Order Summary****************-->

                            <div class="checkout-steps" *ngIf="OrderSummary1">
                                <div class="step-heading d-flex justify-content-between align-items-center">
                                    <h5>
                                        <span class="Sequence">2</span><span>Order Summary</span>
                                        <i class="fa fa-check" *ngIf="fafaCheck"></i>
                                    </h5>
                                    <button class="btn btn-solid" *ngIf="fafaCheck" (click)=ShowOrder()>Show</button>
                                </div>

                            </div>

                            <div class="checkout-steps" *ngIf="OrderSummary2">
                                <h5 class="step-heading active">
                                    <span class="Sequence">2</span><span>Order Summary</span>
                                </h5>
                                <div class="checkout-details">
                                    <div class="order-box table-responsive">
                                        <table class="table table-bordered table-hover checkout-product-table">
                                            <thead class="thead-dark">
                                                <tr>
                                                    <th class="thead-dark">
                                                        Product
                                                    </th>
                                                    <th class="thead-dark">
                                                        Price
                                                    </th>
                                                    <th class="thead-dark">
                                                        Qty
                                                    </th>
                                                    <th class="thead-dark" *ngIf="productSizeColor[0]?.additionalDiscount>0">
                                                        Add. Discount (%)
                                                    </th>
                                                    <th class="thead-dark" *ngIf="productSizeColor[0]?.additionalDiscount>0">
                                                        Add. Discount Amount
                                                    </th>
                                                    <th class="thead-dark">
                                                        Total Amount
                                                    </th>
                                                    <th class="thead-dark">
                                                        GST Rate(%)
                                                    </th>
                                                    <th class="thead-dark">
                                                        GST Amount
                                                    </th>
                                                    <th class="thead-dark">
                                                        Total
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let product of productSizeColor">
                                                    <td>
                                                        <img src="assets/images/product/fashion/19.jpg" alt="Product" style="display:none" class="checkout-prouduct-img"> {{ product?.productName }}

                                                    </td>
                                                    <td style="text-align: right;">
                                                        {{ product?.salePrice | currency:productService?.Currency.currency:'symbol'}}
                                                    </td>
                                                    <td>
                                                        {{ product?.quantity }}
                                                    </td>
                                                    <td *ngIf="productSizeColor[0]?.additionalDiscount>0" style="text-align: right;">
                                                        {{ product?.additionalDiscount }}%
                                                    </td>
                                                    <td *ngIf="productSizeColor[0]?.additionalDiscount>0" style="text-align: right;">
                                                        {{ product?.additionalDiscountAmount | currency:productService?.Currency.currency:'symbol'}}
                                                    </td>
                                                    <td style="text-align: right;">
                                                        {{ (product?.salePrice*product?.quantity-product?.additionalDiscountAmount) | currency:productService?.Currency.currency:'symbol' }}
                                                    </td>
                                                    <td style="text-align: right;">
                                                        {{ product?.gstRate }}%
                                                    </td>
                                                    <td style="text-align: right;">
                                                        {{ product?.gstAmount | currency:productService?.Currency.currency:'symbol'}}
                                                    </td>
                                                    <td style="text-align: right;">
                                                        <span style="float: right; font-size: 16px; line-height: 20px;  font-weight: 400;">
                                                            {{ (product?.salePrice*product?.quantity-product?.additionalDiscountAmount+product?.gstAmount) | currency:productService?.Currency.currency:'symbol' }}</span>
                                                    </td>
                                                </tr>
                                                <tr *ngIf='!productSizeColor.length'>
                                                    <td colspan="9">
                                                        There are no products in cart
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2">
                                                        <b>Subtotal</b>
                                                    </td>
                                                    <td>
                                                        <b>{{getTotalQty()}}</b>
                                                    </td>
                                                    <td *ngIf="productSizeColor[0]?.additionalDiscount>0"></td>
                                                    <td *ngIf="productSizeColor[0]?.additionalDiscount>0" style="text-align: right;">
                                                        <b>{{ getTotalAdditionalDiscountAmount() | currency:productService?.Currency.currency:'symbol'}}</b>
                                                    </td>
                                                    <td style="text-align: right;">
                                                        <b>{{ getTotalAmountWithDis() | currency:productService?.Currency.currency:'symbol'}}</b>
                                                    </td>
                                                    <td></td>
                                                    <td style="text-align: right;">
                                                        <b>{{ getTotalGSTAmount() | currency:productService?.Currency.currency:'symbol'}}</b>
                                                    </td>
                                                    <td style="text-align: right;">
                                                        <span style="float: right; font-size: 16px; line-height: 20px; color: var(--theme-deafult); font-weight: 400;">
                                                            {{ getTotal() | currency:productService?.Currency.currency:'symbol'}}</span>
                                                    </td>
                                                </tr>
                                                <!-- <tr>
                                                    <td colspan="5">
                                                        <b>GST ({{GST}}%)</b>
                                                    </td>
                                                    <td>
                                                        <span style="float: right; font-size: 16px; line-height: 20px; color: var(--theme-deafult); font-weight: 400;">
                                                            {{ getTotal()*(GST)/100 | currency:productService?.Currency.currency:'symbol'}}</span>
                                                    </td>
                                                </tr> -->
                                                <tr>
                                                    <td colspan="5">
                                                        <b> Packing</b>
                                                    </td>
                                                    <td *ngIf="productSizeColor[0]?.additionalDiscount>0"></td>
                                                    <td *ngIf="productSizeColor[0]?.additionalDiscount>0"></td>
                                                    <td colspan="2">
                                                        <span style="float: right; font-size: 16px; line-height: 20px; color: var(--theme-deafult); font-weight: 400;">
                                                            <b>Free Packing</b></span>
                                                    </td>
                                                </tr>
                                                <tr class="total">
                                                    <td colspan="5">
                                                        <b>Total</b>
                                                    </td>
                                                    <td *ngIf="productSizeColor[0]?.additionalDiscount>0"></td>
                                                    <td *ngIf="productSizeColor[0]?.additionalDiscount>0"></td>
                                                    <td colspan="2" style="text-align: right;">
                                                        <span style="float: right; font-size: 16px; line-height: 20px; color: var(--theme-deafult); font-weight: 400;">
                                                            {{ getTotal() | currency:productService?.Currency.currency:'symbol'}}</span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <!-- <div class="title-box">
                                            <div>Product <span> Total</span></div>
                                        </div>
                                        <ul class="qty" *ngIf='productSizeColor?.length'>
                                            <li *ngFor="let product of productSizeColor">
                                                {{ product?.productName }} × {{ product?.quantity }}
                                                <span>
                                                    {{ product.salePrice  | currency:productService?.Currency.currency:'symbol' }}
                                                </span>
                                            </li>
                                        </ul>
                                        <ul class="qty" *ngIf='!productSizeColor.length'>
                                            <li class="empty-checkout"> There are no products in cart </li>
                                        </ul> -->
                                        <!-- <ul class="sub-total">
                                            <li>
                                                Subtotal <span class="count">{{ getTotal() | currency:productService?.Currency.currency:'symbol'}}</span>
                                            </li>
                                            <li>
                                                GST ({{GST}}%) <span class="count">{{ getTotal()*(GST)/100 | currency:productService?.Currency.currency:'symbol'}}</span>
                                            </li>
                                            <li *ngIf='productSizeColor.length'>
                                                Shipping
                                                <div class="shipping">
                                                    Free Shipping
                                                    
                                                </div>
                                            </li>
                                        </ul>
                                        <ul class="total">
                                            <li>Total <span class="count">{{ getTotal()+(getTotal()*(GST)/100) | currency:productService?.Currency.currency:'symbol'}}</span>
                                            </li>
                                        </ul> -->
                                    </div>

                                </div>
                            </div>

                            <div class="checkout-steps" *ngIf="btnContinue">
                                <div class="p-4 d-flex justify-content-between align-items-start align-items-lg-center row-column">
                                    <div>Order confirmation email will be sent to
                                        <b>{{email}}</b> </div>
                                    <button class="btn btn-solid" (click)="Continue()">Continue</button>
                                </div>
                            </div>

                            <!--*********************Payment Options****************-->
                            <div class="checkout-steps" *ngIf="PaymentOption1">
                                <h5 class="step-heading">
                                    <span class="Sequence">3</span><span> Payment Options</span>
                                </h5>

                            </div>
                            <div class="checkout-steps" *ngIf="PaymentOption2">
                                <h5 class="step-heading active">
                                    <span class="Sequence">3</span> <span>Payment Options</span>
                                </h5>
                                <div class="payment-box" *ngIf='productSizeColor?.length'>
                                    <div class="upper-box">
                                        <div class="payment-options">
                                            <ul>
                                                <li>
                                                    <div class="radio-option">
                                                        <input type="radio" [formControl]="checkoutForm.controls['paymentTypeId']" [value]="1" name="payment-group" id="payment-1">
                                                        <label for="payment-1">Online Payment
                                                        </label>
                                                    </div>
                                                </li>
                                                <li *ngIf="user[0].isAgentCustomer">
                                                    <div class="radio-option">
                                                        <input type="radio" [formControl]="checkoutForm.controls['paymentTypeId']" [value]="2" name="payment-group" id="payment-2">
                                                        <label for="payment-2">Credit to Agent
                                                        </label>
                                                    </div>
                                                </li>
                                                <li *ngIf="user[0].isVIPMember">
                                                    <div class="radio-option">
                                                        <input type="radio" [formControl]="checkoutForm.controls['paymentTypeId']" [value]="3" name="payment-group" id="payment-3">
                                                        <label for="payment-3">Direct Credit
                                                        </label>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="text-right">
                                        <button type="submit" class="btn-solid btn" (click)="ProcessCheckOut()">
                                            Place Order
                                        </button>
                                        <!-- <ngx-paypal [config]="payPalConfig" *ngIf="payment == 'Paypal'"></ngx-paypal> -->
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="p-4 price-details">
                        <h5 class="mb-4">Price Details</h5>
                        <!-- <p class="d-flex justify-content-between">
                            <span>Total Pieces: </span>
                            <span><b>{{TotalPieces}}</b></span>
                        </p> -->
                        <p class="d-flex justify-content-between">
                            <span>Total Pieces:
                            </span>
                            <span><b>{{getTotalQty()}}</b></span>
                        </p>
                        <p class="d-flex justify-content-between">
                            <span>Total Amount: </span>
                            <span><b>
                                    {{ (getTotalAmountWithDis() + getTotalAdditionalDiscountAmount()) | currency:productService?.Currency.currency:'symbol'}}</b></span>
                        </p>
                        <p *ngIf="productSizeColor[0]?.additionalDiscount>0" class="d-flex justify-content-between">
                            <span>(-) Additional Discount: </span>
                            <span><b>{{ getTotalAdditionalDiscountAmount() | currency:productService?.Currency.currency:'symbol'}}</b></span>
                        </p>
                        <p *ngIf="productSizeColor[0]?.additionalDiscount>0" class="d-flex justify-content-between">
                            <span>Gross Amount: </span>
                            <span><b>{{ getTotalAmountWithDis() | currency:productService?.Currency.currency:'symbol'}}</b></span>
                        </p>
                        <p class="d-flex justify-content-between">
                            <span>(+) GST Amount: </span>
                            <span><b>{{ getTotalGSTAmount() | currency:productService?.Currency.currency:'symbol'}}</b></span>
                        </p>
                        <hr>
                        <p class="d-flex justify-content-between">
                            <span><b>Total Net Amount:</b> </span>
                            <span><b>{{ (getTotalAmountWithDis()+ getTotalGSTAmount()) | currency:productService?.Currency.currency:'symbol'}}</b></span>
                        </p>
                        <hr>

                        <p class="text-green mb-4">You will save {{ getTotalAdditionalDiscountAmount() | currency:productService?.Currency.currency:'symbol'}} Additional Discount on this order</p>
                        <!-- <div class="text-center">
                            <a class="btn btn-solid">check out</a>
                        </div> -->
                        <div class="mt-3 secure-msg">
                            <img src="assets/images/icon/shield-fill.svg" alt="Secure">
                            <div>Safe and Secure Payments. Easy returns. 100% Authentic products.</div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>