.Sequence {
    font-size: 15px;
    color: #322fdb;
    background-color: #aca3a3;
    border-radius: 2px;
    padding: 5px 7px;
    vertical-align: baseline;
    margin-right: 17px;
}
.step-heading.active {
    background: blue;
    color: #fff;
}