.Sequence {
    font-size: 14px;
    color: #c62127;
    background-color: #cecece;
    border-radius: 2px;
    padding: 3px 7px;
    vertical-align: baseline;
    margin-right: 17px;
}
.step-heading {
    margin-bottom: 0;
}
.step-heading.active {
    background: #c62127;
    color: #fff;
}
address {
    width: 100%;
}

.row-column {
    flex-direction: column;
}
@media (min-width: 578px) {
    .row-column {
        flex-direction: row;
    }
}
.step-heading  h5 {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 0;
}
h5 {
    font-size: 14px
}
.step-heading  .btn-link{
    padding: 0;
}
.step-heading .fa-check {
    color: #388e3c;
}