<app-breadcrumb [title]="'Register'" [breadcrumb]="'Register'"></app-breadcrumb>
<!-- section start -->
<section class="register-page section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h3>create account</h3>
                <div class="theme-card">

                    {{RegistrationForm.value|json}}

                    <form class="theme-form" [formGroup]="RegistrationForm">

                        <div class="form-group">
                            <label *ngIf="!mobileOTP">Mobile</label>
                            <div class="input-group" *ngIf="!mobileOTP">

                                <input type="text" class="form-control" placeholder="Mobile" maxlength="10"
                                    [ngClass]="{ 'is-invalid': submitted && f.mobileNo.errors }"
                                    formControlName="mobileNo">
                                <div *ngIf="mobileverified" class="input-group-append">
                                    <span class="input-group-text" style="height: 54px;">
                                        <i class="fa fa-check"></i>
                                    </span>
                                </div>

                                <div *ngIf="!mobileverified" class="input-group-append">
                                    <button class="btn btn-sm btn-success" type="button"
                                        (click)="validateAndCheckMobile();" style="height: 54px;">Send OTP</button>
                                </div>
                            </div>

                        </div>

                        <div class="form-group" *ngIf="mobileOTP">
                            <label>Verify With OTP sent to {{f.mobileNo.value}} <span class="text-danger">
                                </span></label>
                            <div class="input-group">
                                <!-- <input type="password" class="form-control" id="exampleInputPassword"
                                    formControlName="mobilecode" placeholder="Enter OTP"> -->

                                <div class="row">
                                    <div formArrayName="OTPArray" class="otpContainer"
                                        *ngFor="let input of OTPFormArray.controls;  index as i">
                                        <input #formRow type="text" [formControlName]="i" class="form-control"
                                            maxlength="1" (keypress)="keyUpEvent($event, i)">
                                    </div>
                                </div>
                                <div class="input-group-append" style="height: 39px;margin-left: 10px;">
                                    <button class="btn btn-sm btn-success" type="button"
                                        (click)="verifyMobileOtp();">Verify </button>
                                </div> 

                            </div>
                        </div>
                        <div class="form-group" *ngIf="mobileOTP">
                            <div>
                                <h6 style="color: #969696">Resend OTP in:<b> {{counter}} second(s)</b></h6>
                            </div>
                        </div>
                        <div *ngIf="mobileverified">

                            <div class="form-group">

                                <label for="email">Name</label>
                                <input type="text" class="form-control" id="fname" formControlName="name"
                                    placeholder="Name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                            </div>


                            <div class="form-group">
                                <label>Email ID</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Email ID"
                                        formControlName="email"
                                        [ngClass]="{ 'is-invalid': submitted && f.email.errors }">

                                </div>
                            </div>

                            <div class="form-group">

                                <label for="review">Password</label>
                                <input type="password" class="form-control" id="review" formControlName="password"
                                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                                    placeholder="Enter your password" required="">

                            </div>



                            <div class="mt-3">
                                <button class="btn btn-primary px-4" type="submit"
                                    (click)="CreateRegistration();">CREATE
                                    ACCOUNT</button>

                            </div>
                        </div>
                        <div class=" text-center mt-4 font-weight-light">
                            Already have an account? <a routerLink="/account/login" class="text-primary">Login</a>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->