<!-- <app-breadcrumb [title]="'Register'" [breadcrumb]="'Register'"></app-breadcrumb> -->
<!-- section start -->
<section class="register-page section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 mb-5">
                <h4 class="mb-5"><b>Let's start creating your new account.</b></h4>
                <div class="theme-card">

                    <!-- {{RegistrationForm.value|json}} -->

                    <form class="theme-form" [formGroup]="RegistrationForm">
                        <!-- <div class="form-group "><input autocomplete="new-password" id="" type="tel"
                                class="form-control mobileNumberInput" placeholder="" maxlength="10"><span
                                class="placeholderAlternative mobileNumber">+91<span
                                    style="padding: 0px 10px; position: relative; bottom: 1px;">|</span><span
                                    class="mobileNumberPlacholder">Mobile Number<span
                                        style="color: rgb(255, 87, 34);">*</span></span> </span><i class="bar"></i>
                        </div> -->
                        <div class="form-group">
                            <label *ngIf="!mobileOTP">Mobile Number</label>
                            <div class="input-group" *ngIf="!mobileOTP">
                                <div class="input-group-prepend india-code">
                                    <div class="input-group-text">+91</div>
                                </div>
                                <input autofocus type="text" id="MobileNumber" class="form-control"
                                    [readonly]="mobileverified" (keypress)="keytab($event)" placeholder="Mobile Number"
                                    maxlength="10" autocomplete="off" (keydown)="keydownEvent($event)"
                                    [ngClass]="{ 'is-invalid': submitted && f.mobileNo.errors }"
                                    formControlName="mobileNo">

                                <!-- <div *ngIf="submitted && f.mobileNo.errors" class="invalid-feedback">
                                    <div>
                                        Please, Enter 10 digit Mobile Number</div>
                                </div> -->
                                <div *ngIf="mobileverified" class="input-group-append">
                                    <span class="input-group-text success-check">
                                        <i class="fa fa-check"></i>
                                    </span>
                                </div>

                                <!-- <div *ngIf="!mobileverified" class="input-group-append"> -->
                                <button *ngIf="!mobileverified" #otp class="btn btn-sm btn-success" type="button"
                                    autofocus [ngClass]="{'btn-loading': loginStart}"
                                    (click)="validateAndCheckMobile();">Send
                                    OTP</button>
                                <!-- </div> -->
                            </div>

                        </div>

                        <div class="form-group text-center" *ngIf="mobileOTP">
                            <h6 class="mb-4">
                                <b>Verify With OTP sent to {{f.mobileNo.value}}.
                                    <a href="javaScript:void(0);" (click)="Change()">Change</a>
                                    <span class="text-danger">
                                    </span></b></h6>

                            <!-- <input type="password" class="form-control" id="exampleInputPassword"
                                    formControlName="mobilecode" placeholder="Enter OTP"> -->
                            <!-- <p> <input maxlength='6' class="inputOTP" id="inputOTP" />
                            </p> -->
                            <div class="otp-number">

                                <!-- <div formArrayName="OTPArray" class="otpContainer"
                                    *ngFor="let input of OTPFormArray.controls;  index as i">
                                    <input #formRow type="tel" autofocus [formControlName]="i" id={{i}}
                                        class="form-control" maxlength="1" (keypress)="keypressEvent($event, i)"
                                        (keyup)="keyupEvent($event, i)">

                                </div> -->
                                <div class="otpContainer">
                                    <input autofocus  type="text" id="txtverify" [mask]="NumberMask"
                                        [dropSpecialCharacters]="false" formControlName="mobileotp"
                                        [showMaskTyped]="showMask" (focus)="addMask($event);">
                                </div>
                            </div>
                            <button class=" btn btn-success mt-4" type="button" [ngClass]="{'btn-loading': VerifyStart}"
                                (click)="verifyMobileOtp();">Verify</button>
                        </div>
                        <div class="form-group" *ngIf="mobileOTP">
                            <h6 class="text-center" style="color: #969696">Resend OTP in:<b> {{counter}}
                                    second(s)</b>
                            </h6>
                        </div>
                        <div *ngIf="mobileverified">

                            <div class="form-group">

                                <label for="email">Your First and Last Name</label><span style="color:red">*</span>
                                <input type="text" class="form-control" id="fname" formControlName="name" maxlength="45"
                                    autocomplete="off" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">

                                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                    <div>First and Last Name is
                                        required</div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Business Type</label><span style="color:red">*</span>
                                <select #SetFocus name="ddlBusinessType" class="custom-select"
                                    formControlName="BusinessType"
                                    [ngClass]="{ 'is-invalid': submitted && f.BusinessType.errors }">
                                    <option value="">select</option>
                                    <option value="SoleProprietorship">Sole Proprietorship</option>
                                    <option value="Partnership">Partnership</option>
                                    <option value="PublicLimitedCompany">Public Limited Company</option>
                                    <option value="PrivateLimitedCompany">Private Limited Company</option>
                                    <option value="Other">Other</option>
                                </select>

                                <div *ngIf="submitted && f.BusinessType.errors" class="invalid-feedback">
                                    <div>Business Type is
                                        required</div>
                                </div>

                            </div>

                            <div class="form-group">
                                <label>Industry</label><span style="color:red">*</span>
                                <select class="custom-select" formControlName="Industry"
                                    [ngClass]="{ 'is-invalid': submitted && f.Industry.errors }">
                                    <option value="">select</option>
                                    <option value="Retail"> Retail (Fashion / Accessories)</option>
                                    <option value="Wholesale">Wholesale</option>
                                    <option value="Other">Other</option>

                                </select>
                                <div *ngIf="submitted && f.Industry.errors" class="invalid-feedback">
                                    <div>Industry is
                                        required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Business License Type</label><span style="color:red">*</span>
                                <select id="LicenseType" class="custom-select" formControlName="businessLicenseType"
                                    (change)="ChangeLicenseType()"
                                    [ngClass]="{ 'is-invalid': submitted && f.businessLicenseType.errors }">
                                    <option value="">select</option>
                                    <option value="GSTIN"> Goods and Services Tax Identification Number (GSTIN)
                                    </option>
                                    <option value="BusinessPAN">Business PAN</option>
                                    <option value="AadharCard">Aadhar Card</option>
                                </select>
                                <div *ngIf="submitted && f.businessLicenseType.errors" class="invalid-feedback">
                                    <div>Business License Type is
                                        required</div>
                                </div>
                            </div>

                            <div class="form-group" *ngIf="f.businessLicenseType.value=='GSTIN'">

                                <label for="email">GST Number</label><span style="color:red">*</span>
                                <input #GSTNo type="text" class="form-control input-upper" id="txtGSTNo"
                                    autocomplete="off" (input)="GSTNo.value = GSTNo.value.toUpperCase()"
                                    formControlName="GSTNo" maxlength="15" placeholder="GST No">
                            </div>

                            <div class="form-group" *ngIf="f.businessLicenseType.value=='BusinessPAN'">

                                <label for="email">PAN Number</label><span style="color:red">*</span>
                                <input type="text" #PANNo class="form-control" id="txtPANNo" maxlength="10"
                                    formControlName="PANNo" (input)="PANNo.value = PANNo.value.toUpperCase()"
                                    placeholder="PAN No">
                            </div>
                            <div class="form-group" *ngIf="f.businessLicenseType.value=='AadharCard'">

                                <label for="email">Aadhar Card</label><span style="color:red">*</span>
                                <input type="text" class="form-control" id="txtAadharCard" autocomplete="off"
                                    formControlName="AadharCard" maxlength="14" placeholder="Aadhar Card"
                                    [mask]="AadharNumberMask" [showMaskTyped]="showMask"
                                    (focus)="addAadharMask($event);" [dropSpecialCharacters]="false">
                            </div>
                            <div class="form-group">

                                <label for="email">Business Name</label><span style="color:red">*</span>
                                <input type="text" class="form-control" id="BusinessName" formControlName="BusinessName"
                                    autocomplete="off" maxlength="100"
                                    [ngClass]="{ 'is-invalid': submitted && f.BusinessName.errors }">
                                <div *ngIf="submitted && f.BusinessName.errors" class="invalid-feedback">
                                    <div>Business Name is
                                        required</div>
                                </div>
                            </div>


                            <div class="form-group">

                                <label for="email">Business Phone</label><span style="color:red">*</span>
                                <input type="text" class="form-control" id="txtBusinessPhone" maxlength="10"
                                    formControlName="BusinessPhone" [mask]="PhoneMask" [dropSpecialCharacters]="false"
                                    [showMaskTyped]="showMask" (focus)="addPhoneMask($event);"
                                    [ngClass]="{ 'is-invalid': submitted && f.BusinessPhone.errors }">

                                <div *ngIf="submitted && f.BusinessPhone.errors" class="invalid-feedback">
                                    <div>Business Phone is
                                        required</div>
                                </div>
                            </div>
                            <div class="form-group">

                                <label for="email">Address1</label><span style="color:red">*</span>
                                <input type="text" class="form-control" id="Address1" formControlName="Address1"
                                    autocomplete="off" maxlength="100"
                                    [ngClass]="{ 'is-invalid': submitted && f.Address1.errors }">

                                <div *ngIf="submitted && f.Address1.errors" class="invalid-feedback">
                                    <div>Address1 is
                                        required</div>
                                </div>
                            </div>

                            <div class="form-group">

                                <label for="email">Address2</label>
                                <input type="text" class="form-control" id="Address2" formControlName="Address2"
                                    autocomplete="off" maxlength="70">
                            </div>

                            <div class="form-group">

                                <label for="email">Pin Code</label><span style="color:red">*</span>
                                <input type="text" class="form-control" id="txtPinCode" formControlName="pinCode"
                                    autocomplete="off" maxlength="6" [mask]="PinCodeMask"
                                    [dropSpecialCharacters]="false" (focus)="addPinCodeMask($event);"
                                    [ngClass]="{ 'is-invalid': submitted && f.pinCode.errors }">

                                <div *ngIf="submitted && f.pinCode.errors" class="invalid-feedback">
                                    <div>Pin Code is
                                        required</div>
                                </div>
                            </div>

                            <div class="form-group">

                                <label for="email">City</label><span style="color:red">*</span>
                                <input type="text" class="form-control" id="City" formControlName="city" maxlength="48"
                                    autocomplete="off" [ngClass]="{ 'is-invalid': submitted && f.city.errors }">


                                <div *ngIf="(submitted) && f.city.errors" class="invalid-feedback">
                                    <div>City is
                                        required</div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>State</label><span style="color:red">*</span>
                                <select class="custom-select" formControlName="state"
                                    [ngClass]="{ 'is-invalid': submitted && f.state.errors }">
                                    <option value="">select</option>
                                    <option value="Andhra Pradesh">Andhra Pradesh</option>
                                    <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands
                                    </option>
                                    <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                    <option value="Assam">Assam</option>
                                    <option value="Bihar">Bihar</option>
                                    <option value="Chandigarh">Chandigarh</option>
                                    <option value="Chhattisgarh">Chhattisgarh</option>
                                    <option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
                                    <option value="Daman and Diu">Daman and Diu</option>
                                    <option value="Delhi">Delhi</option>
                                    <option value="Lakshadweep">Lakshadweep</option>
                                    <option value="Puducherry">Puducherry</option>
                                    <option value="Goa">Goa</option>
                                    <option value="Gujarat">Gujarat</option>
                                    <option value="Haryana">Haryana</option>
                                    <option value="Himachal Pradesh">Himachal Pradesh</option>
                                    <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                                    <option value="Jharkhand">Jharkhand</option>
                                    <option value="Karnataka">Karnataka</option>
                                    <option value="Kerala">Kerala</option>
                                    <option value="Madhya Pradesh">Madhya Pradesh</option>
                                    <option value="Maharashtra">Maharashtra</option>
                                    <option value="Manipur">Manipur</option>
                                    <option value="Meghalaya">Meghalaya</option>
                                    <option value="Mizoram">Mizoram</option>
                                    <option value="Nagaland">Nagaland</option>
                                    <option value="Odisha">Odisha</option>
                                    <option value="Punjab">Punjab</option>
                                    <option value="Rajasthan">Rajasthan</option>
                                    <option value="Sikkim">Sikkim</option>
                                    <option value="Tamil Nadu">Tamil Nadu</option>
                                    <option value="Telangana">Telangana</option>
                                    <option value="Tripura">Tripura</option>
                                    <option value="Uttar Pradesh">Uttar Pradesh</option>
                                    <option value="Uttarakhand">Uttarakhand</option>
                                    <option value="West Bengal">West Bengal</option>

                                </select>
                                <div *ngIf="(submitted) && f.state.errors" class="invalid-feedback">
                                    <div>State is
                                        required</div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Email ID</label><span style="color:red">*</span>
                                <div class="input-group">
                                    <input type="text" id="txtemail" class="form-control" formControlName="email"
                                        maxlength="50" autocomplete="off"
                                        [ngClass]="{ 'is-invalid': submitted && f.email.errors }">



                                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                        <div *ngIf="f.email.errors.required">Email is required</div>
                                        <div *ngIf="f.email.errors.email">Email ID must be a valid email address</div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">

                                <label for="review">Password</label><span style="color:red">*</span>
                                <div class="input-group">
                                    <input type="{{inputType}}" class="form-control" id="review" id="password"
                                        formControlName="password" autocomplete="off" maxlength="15"
                                        [ngClass]="{ 'is-invalid': submitted && f.password.errors }" required="">
                                    <div class="input-group-append frm-icon" (click)="hideShowPassword()">
                                        <span class="input-group-text">
                                            <i class="{{class}}"></i>
                                        </span>
                                    </div>

                                </div>

                                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                    <div *ngIf="f.password.errors.required">Password is required</div>

                                </div>
                                <br>
                                <div *ngIf="(submitted) && RegistrationForm.controls.password.errors?.minlength"
                                    class="text text-danger">
                                    Password must be greater than 8 character.
                                </div>

                            </div>
                            <div class="mt-3 text-center">
                                <button class="btn btn-primary px-4" type="submit"
                                    (click)="CreateRegistration();">CREATE
                                    ACCOUNT</button>

                            </div>
                        </div>
                        <div class=" text-center mt-4 font-weight-light">
                            Already have an account? <a href="javaScript:void(0);" (click)="Login()"
                                class="text-primary">Login</a>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->